{% extends 'index.html' %}

{% block 'body' %}
<h2 align="center" style="color:red">{{messege}}</h2>

<h3 align="center">Faculty Login</h3>
<center>

<FORM method="post" action="{% url 'checkfacultylogin' %}">
    {% csrf_token %}
    <TABLE align="center" width="30%" height="30%">
        <tr>
            <td>
                <label>Enter Faculty ID</label>
            </td>
             <td>
                <input type="number" name="fid" required/>
            </td>
        </tr>

        <tr>
            <td></td>
        </tr>

        <tr>
            <td></td>
        </tr>


        <tr>
            <td>
                <label>Enter Password</label>
            </td>
             <td>
                <input type="password" name="pwd" required/>
            </td>
        </tr>

        <tr>
            <td></td>
        </tr>


        <tr align="center">
            <td>
                <button class="button">Login</button>
            </td>
             <td>
                <button class="button">Reset</button>
            </td>
        </tr>
    </TABLE>
</FORM>

</center>

{% endblock %}
