{% extends 'adminhome.html' %}

{% block 'body' %}



<h3 align="center"><u> Update Course</u></h3>

<h4>Total Courses={{count}}</h4>

<input class="form-control" id="myInput" type="text" placeholder="Search by any coloumn"><br>
    <table align="center" border="2" width="50" height="10" class="table table-bordered table-striped">
        <thead>
            <tr bgcolor="black" align="center" style="color:white">
                <td>Course Id</td>
                <td>Department</td>
                <td>Program</td>
                 <td>Academic Year</td>
                 <td>Semester</td>
                 <td>Year</td>
                 <td>Course Code</td>
                 <td>Course Title</td>
                <td>LTPSK</td>
                <td>Credits</td>
                <td>Action</td>
            </tr>
     </thead>
        <tbody id="myTable">
            {% for course in courses %}
                <tr align="center">
                    <td>{{course.id}}</td>
                    <td>{{course.department}}</td>
                    <td>{{course.program}}</td>
                    <td>{{course.academicyear}}</td>
                    <td>{{course.semester}}</td>
                    <td>{{course.year}}</td>
                    <td>{{course.coursecode}}</td>
                    <td>{{course.coursetitle}}</td>
                    <td>{{course.LTPSK}}</td>
                    <td>{{course.coursecredits}}</td>
                    <td>
                        <a href="/courseupdation/{{course.id}}" class="addbutton">Update</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
{% endblock %}